body {
    background-color:#121212;
    color:#ccc;
}
header {
    margin-bottom: 150px;
}
#foot {
    color:white;
    text-align:center;
    font-size:30px;
    margin:500px auto;
    width:500px;
    background: url('images/shuriken.jpg') #8B0000 no-repeat center;
    border-radius: 5px;

}
a {
    color:#8B0000;
    font-size:20px;
    text-decoration:none;
}
menu a {
   color: white;
   text-decoration: none;
}
menu {
    width:500px;
    height:30px;
    padding-left:10px;
    margin-right:0;
    font-family: Helvetica, sans-serif;
    float:right;
    background-color:#8B0000;
    border-radius: 5px;
    margin-right:80px;
}
a,#notabene: hover {
   text-decoration: underline;
}
li {
    display:inline;    
}
p {
    font-size:20px;
    line-height:30px;
}

h1 {
    text-align:center;
    color:white;
    font-size:78px;
    margin-top:10px;
}
#gruppol {
    float:left;
    display:block;
}
#gruppor {
    float:left;
    display:block;
}
#gruppo {
    float:left;
    display:block;
}
    
.foto-principale-home {
    overflow: auto;
    margin: 0 auto;
    width: 836px;
}
h2 {
    margin: 0 auto;
}
h2.centrati {
    margin: 10px auto;
    width: 200px;
}    
#maincontainer {
    width:1000px;
    height:500px;
}
table {
    margin: 0 auto;
    padding: 0;
    
}
td {
    text-align:center;
    border:solid 1px #ccc;
    padding:10px;
    margin: 0;
}
.tabellarossa {
    background-color:#8B0000;
    color:white;
}
article {
    display: block;
    background:#121212;
    overflow: auto;
    width:835px;
    margin:20px auto 0;
}
.testo-home {
    float: left;
    width:450px;
    margin-bottom:0;
    background:#121212;
}

#contatti {
    border:solid 1px #8B0000;
    width:350px;
    text-align:left;
    float:right;
    padding:10px;
    background:#121212;
}
#notabene {
    color:#8B0000;
}
