body {
    background-color:#121212;
    color:#ccc;
}
header {
    margin-bottom: 150px;
}
#foot {
    color:white;
    text-align:center;
    font-size:30px;
    margin:10px auto;
    width:500px;
    background:#8B0000;
    border-radius: 5px;
    padding:5px;

}
a {
    color:#8B0000;
    font-size:20px;
    text-decoration:none;
}
.floatr {
    float:right;
}
.floatl {
    float:left;
}
menu a {
    color: white;
    text-decoration: none;
    text-align:center;
}
menu {
    width:500px;
    height:30px;
    padding:5px;
    font-family: Helvetica, sans-serif;
    float:right;
    background-color:#8B0000;
    border-radius: 5px;
    margin-right:80px;
    display:inline;
}
#shaken {
    margin-top:50px;    
    position:relative;
}

#ftl , #ftr , #fbl , #fbr {
    position:absolute;
}
#ftl , #ftr {
    bottom:0;
}
#fbl , #fbr {
    top:70px;
}
#ftl , #fbl {
    left:220px;
}
#ftr , #fbr {
    right:220px;
}
a:hover {
   text-decoration: underline;
}
.shourioken {
    list-style-image: url(images/shuriken.jpg);
    background: url(images/libg.jpg);
}
.li {
    display:inline;    
    list-style: none;
}
p {
    font-size:20px;
    line-height:30px;
}

h1 {
    text-align:center;
    color:white;
    font-size:78px;
    margin-top:10px;
}
#gruppo {
    float:left;
    display:block;
}
    
.foto-principale-home {
    overflow: auto;
    margin: 0 auto;
    width: 836px;
}
h2 {
    margin: 0 auto;
}
h2.centrati {
    margin: 10px auto;
    width: 200px;
}
#maincontainer {
    width:1000px;
    height:500px;
}
table {
    margin: 0 auto;
    padding: 0;
    padding-bottom:10px;
    width: 670px;
}
td {
    text-align:center;
    border:solid 1px #ccc;
    padding:10px;
    margin: 0;
}

.tabellarossa {
    background-color:#8B0000;
    color:white;
    border:solid 5px #8B0000;
}

.tabellarossat {
    background-color:#8B0000;
    color:white;
    border:solid 5px #8B0000;
    border-radius:5px 5px 0 0 ;
}

.tabellarossabl {
    background-color:#8B0000;
    color:white;
    border:solid 5px #8B0000;
    border-radius: 0 0 0 5px ;
}

.tabellarossabr {
    background-color:#8B0000;
    color:white;
    border:solid 5px #8B0000;
    border-radius: 0 0 5px 0 ;
}

.txtleft {
    text-align: left;
}
article {
    display: block;
    background:#121212;
    overflow: auto;
    width:835px;
    margin:20px auto;
}
.testo-home {
    float: left;
    width:450px;
    background:#121212;
}

#contatti {
    border:solid 1px #8B0000;
    width:350px;
    height:350px;
    text-align:left;
    float: right;
    padding: 10px;
    background:#121212;
    line-height:70px;
}
#notabene {
    color:#8B0000;
}
#foto , #video {
    margin-bottom: 30px;
}
#foto {
    margin-left: 270px;
    float:left;
}
#video {
    margin-right: 270px;
    float:right;
}
